#forecast {
    width: 17%;
    border-radius: 5px;
    background: rgba(71, 102, 125, 0.7);
    margin: 30px 0;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

#forecast p {
    margin: 12px auto;
}

#forecast p:first-child {
    font-weight: bold;
}

#forecast .f-weather-icon-wrapper img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.f-max-temp {
    color: orange;
}

.f-min-temp {
    color: aqua;
}

@media screen 
and (max-width: 767px) {
    #forecast {
        width: 19%;
        margin: 10px 0;
    }

    #forecast .current-weather-icon-wrapper {
        text-align: center;
        margin-left: 0;
    }

    #forecast .f-weather-icon-wrapper img{
        width: 40px;
        height: 40px;  
    }
}