#search-forecast-wrapper {
    display: flex;
    justify-content: space-between;
    width: 880px;
    margin: 50px auto;
}

.forecast-item {
    width: 16%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.forecast-item div {
    margin: 12px auto;
}

.forecast-item .f-weather-icon-wrapper img{
    width: 60px;
    height: 60px;
}

.f-max-temp {
    color: orange;
}

.f-min-temp {
    color: aqua;
}

@media screen 
and (max-width: 991px) {
    #search-forecast-wrapper {
        width: 90%;
        margin: 40px auto;
    }

    .forecast-item {
        width: 19.5%;
        justify-content: space-between;
    }

    .forecast-item .f-weather-icon-wrapper img{
        width: 40px;
        height: 40px;  
    }
}