
.form {
    margin-top: 40px;
}

.city-input {
    width: 40%;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
    border: solid 1px white;
}

.city-input:focus, .city-input:active {
   outline: none;
   box-shadow: none;
}

.search-btn {
    width: 100px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(60, 100, 130);
    color: white;
    border: solid 1px white;
}

.search-btn:focus, .search-btn:active {
   outline: none;
   box-shadow: none;
}