.hourly-item {
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: 15px 0px 15px 0px;
}

.hour {
    font-weight: bold;
}

.h-weather-icon-div {
    padding-bottom: 15px;
    margin: 0 auto;
    text-align: center;

}

.h-weather-icon img{
    width: 40px;
    height: 40px;
}

.h-real-feel {
    color: lightgray;
}

@media screen and (max-width: 577px) {

    .hourly-info {
        height: 100px;
        vertical-align: middle;
        margin: 0 auto;
    }

    .hourly-item {
        display: block;
        height: 0;
        margin: 15px 0px -15px 0px;
    }

    .hourly-detail {
        width: 25%;
        display: inline-block;
        vertical-align: middle;      
    }

    .hour {
        display: block;
    }

    .h-day {
        display: block;
    }

    .h-temp {
        font-size: 20px;
    }

    .h-real-feel {
        font-size: 20px;
    }
    
}