#weather-air-wrapper {
    flex-basis: 100%;
    height: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

#weather-basic {
    flex-basis: 30%;
    height: 100%;
    border-radius: 5px;
    background: rgba(71, 102, 125, 0.7);
}

#air-weather-deatail {
    flex-basis: 30%;
    height: 100%;
}

#air-quality {
    flex-basis: 100%;
    height: 225px;
    border-radius: 5px;
    background: rgba(71, 102, 125, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-div-1 {
    flex-basis: 100%;
    height: 225px;
    border-radius: 5px;
    background: rgba(71, 102, 125, 0.7);
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#detail-div-2 {
    flex-basis: 30%;
    height: 100%;
    border-radius: 5px;
    background: rgba(71, 102, 125, 0.7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* ---------- Current weather Basic info ---------- */
.current-weather-icon-wrapper {
    margin-top: 10px;
    text-align: center;
}

.current-weather-icon-wrapper img {
    width: 250px;
    height: 250px;
}

.current-city {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.current-temp {
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.real-feel-temp {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: lightgrey;
}

.current-weather-descritpion {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.current-weather-basic {
    margin-left: 50px;
}

/* ---------- Current weather Detail info ---------- */
.current-weather-detail {
    margin: 0 0 0 40px;
}

.detail-icon img {
        width: 25px;
        height: 25px;
}

.detail-txt {
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
}

.detail-data {
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

@media screen 
and (max-width: 1200px)
and (min-width: 992px) {
    .current-weather-icon-wrapper img {
        width: 230px;
        height: 230px;
    }

    .current-city{
        font-size: 20px;
    }

    .current-weather-basic {
        margin-left: 20px;
    }

    .detail-icon img {
        width: 25px;
        height: 25px;
    }

    .detail-txt, .detail-data {
        font-size: 15px;
    }

    .current-weather-detail {
        margin: 0 0 0 20px;
    }
}

@media screen 
and (max-width: 991px)
and (min-width: 768px) {
    #weather-air-wrapper {
        height: 400px;
    }

    #air-quality {
        height: 180px;
    }

    #detail-div-1 {
        height: 180px;
        margin-top: 40px;
    }

    .current-weather-icon-wrapper img {
        width: 190px;
        height: 190px;
    }

    .current-weather-basic {
        margin-left: 10px;
    }

    .detail-icon img {
        width: 15px;
        height: 15px;
    }

    .current-weather-detail {
        margin-left: 0px;
    }

    .current-time-data {
        font-size: 12px;
    }

    .current-city {
        font-size: 15px;
    }

    .current-temp {
        font-size: 40px;
    }

    .real-feel-temp {
        font-size: 12px;
    }

    .current-weather-descritpion {
        font-size: 12px;
    }

    .current-weather-detail {
        margin: 0 0 0 10px;
    }

    .detail-icon img {
        width: 20px;
        height: 20px;
    } 

    .detail-txt {
        font-size: 13px;
        margin-left: 5px;
    }

    .detail-data {
        font-size: 13px;
    }
}

@media screen 
and (max-width: 767px)
and (min-width: 450px) {
    #air-weather-deatail {
        flex-basis: 100%;
        height: 190px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    #air-quality {
        flex-basis: 49%;
        height: 100%;
    }

    #detail-div-1 {
        flex-basis: 49%;
        height: 100%;
        margin-top: 0;
    }

    #detail-div-1 p {
        flex-basis: 100%;
        padding-left: 8%;
    }
}

@media screen 
and (max-width: 767px) {
    #weather-air-wrapper {
        height: auto;
        flex-wrap: wrap;
    }

    #weather-basic {
        flex-basis: 100%;
        height: 130px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 5px;
    }

    #detail-div-2 {
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr);
        margin-top: 10px;
    }

    #detail-div-2 p {
        padding: 5px 0 5px 8%;
    }

    .current-weather-icon-wrapper {
        margin-top: 0px;
        text-align: left;
    }

    .current-weather-icon-wrapper img {
        width: 100px;
        height: 100px;
        margin-left: 15%;
    }

    .current-weather-basic{
        margin-left: 10%;
    }

    #city-temp-rf {
        margin-right: 15%;
    }

    #city-temp-rf p{
        text-align: right;
        margin: 0;
    }

     .current-city {
        font-size: 15px;
    }

    .current-temp {
        font-size: 35px;
    }

    .real-feel-temp {
        font-size: 12px;
    }

    .current-weather-descritpion {
        margin-left: 8%;
        font-size: 12px;
    }

    .current-weather-detail {
        margin-left: 0px;
    }

    .detail-icon img {
        width: 15px;
        height: 15px;
    } 

    .detail-txt {
        font-size: 10px;
        margin-left: 5px;
    }

    .detail-data {
        font-size: 10px;
    }
}

@media screen 
and (max-width: 449px) {
    #weather-air-wrapper {
        height: auto;
        flex-wrap: wrap;
    }

    #air-weather-deatail {
        flex-basis: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    #air-quality {
        flex-basis: 100%;
        height: 190px;
    }

    #detail-div-1 {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr);
        margin-top: 10px;
    }

    #detail-div-1 p {
        padding: 5px 0 5px 10%;
    }

    #detail-div-2 {
        flex-basis: 100%;
        height: 200px;
        margin-top: 10px;
    }
}

