#search-weather-wrapper {
    width: 880px;
    margin: 50px auto 0 auto;
    color: white;
}

.location-date-container div:first-child {
    font-size: 30px;
}

.current-weather-detail-container {
    display: flex;
    margin-top: 20px;
}

.current-weather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 50%;
}

.current-weather-icon {
    align-items: center;
}

.current-weather-icon img {
    width: 10.5em;
}

.current-weather-temp {
    font-size: 120px;
    margin-top: -40px;
}

.current-weather-description {
    margin-top: -10px;
}

.current-weather-details {
    display: flex;
    justify-content: space-around;
    width: 50%;
    border-left: 0.5px solid white;
}

.current-weather-details .detail-data {
    width: 100%;
    margin-top: 12px;
}

.current-weather-details .detail-data span{
    width: 100%;
    font-size: 30px;
}

.current-weather-details .detail-txt {
    width: 100%;
    color: lightgray;
}

.air-humidity-sun-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin-top: 50px;
}

.air-quality, .humidity, .sunrise-sunset {
    width: 30%;
    height: auto;
    padding: 2% 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.progressbar-data:first-child {
    font-size: 1rem;
    margin-top: 60%;
}

.progressbar-data span {
    font-size: 30px;
}

.progressbar-txt {
    color: lightgray;
}

.sun-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 100%;
}

.sun-details span div:first-child {
    font-size: 30px;
}

.sun-details span div:last-child {
    color: lightgray;
}

@media screen and (min-width: 701px) and (max-width: 991px) {
    #search-weather-wrapper {
        width: 90%;
    }

    .current-weather-icon img {
        width: 120px;
    }

    .current-weather-temp {
        font-size: 80px;
        margin-top: -20px;
    }

    .current-weather-details .detail-data {
        margin-top: 4px;
    }

    .current-weather-details .detail-data span{
        font-size: 22.5px;
    }

    .current-weather-details .detail-txt {
        font-size: 14px;
    }

    .air-quality, .humidity, .sunrise-sunset {
        width: 32.9%;
    }

    .sun-details span div:first-child {
        font-size: 22.5px;
    }

    .sun-details span div:last-child {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    #search-weather-wrapper {
        width: 90%;
    }

    .location-date-container div:first-child {
        font-size: 22.5px;
    }

    .location-date-container div:last-child {
        font-size: 14px;
    }

    .current-weather-detail-container {
        display: flex;
        flex-direction: column;
    }

    .current-weather-icon img {
        width: 120px;
    }

    .current-weather-temp {
        font-size: 80px;
        margin-top: -20px;
    }

    .current-weather-details {
        width: 100%;
        margin-top: 40px;
        border-left: none;
        border-top: 0.5px solid white;
        border-bottom: 0.5px solid white;
    }

    .current-weather-details div {
        margin: 5px 0;
    }

    .current-weather-details .detail-data span{
        font-size: 22.5px;
    }

    .current-weather-details .detail-txt {
        font-size: 14px;
    }

    .air-humidity-sun-container {
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .air-quality, .humidity {
        width: 49.5%;
        margin-bottom: 1%;
    }

    .sunrise-sunset {
        width: 100%;
    }

    .sunrise-sunset div[data-test-id="CircularProgressbarWithChildren"] {
        height: 170px;
    }

    .progressbar-data span{
        font-size: 22.5px;
    }

    .progressbar-txt {
        font-size: 14px;
    }

    .sun-details {
        width: 85%;
    }

    .sun-details span div:first-child {
        font-size: 22.5px;
    }

    .sun-details span div:last-child {
        font-size: 14px;
    }
}