.parrent {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

.grid-container {
    width: 500px;
    height: 400px;
    background-color: rgba(71, 102, 125, 0.7);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.8fr 0.6fr 0.6fr 0.7fr;
    gap: 1px 1px;
    grid-template-areas: "city city city city" "icon icon temperature temperature" "icon icon rf-temp rf-temp" "icon icon description description" "city-detail city-detail city-detail city-detail";
}

.city { 
    grid-area: city;
    font-size: 14px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.text { 
    color: #ff6cff;
    margin-right: 5px;
}

.icon { 
    grid-area: icon; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img { 
    width: 160px !important;
    height: 160px !important;
}

.temperature { 
    grid-area: temperature; 
    font-size: 80px;
    display: flex;
    align-items: center;
}

.rf-temp { 
    grid-area: rf-temp; 
    font-size: 15px;
    font-weight: bold;
    color: lightgray;
}

.description { 
    grid-area: description; 
    font-size: 15px;
}

.city-detail { 
    grid-area: city-detail; 
    display: flex;
}

.city-detail div {
    flex-basis: 33.3%;
    padding-left: 10%;
}

.city-detail-icon img{
    width: 30px;
    height: 30px;
}

.city-detail-data {
    font-size: 25px;
    padding-left: 5px;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .grid-container {
        height: 350px;
    }

    .icon img { 
        width: 140px !important;
        height: 140px !important;
        margin: 0 !important;
    }

    .temperature { 
        font-size: 70px;
    }

    .city-detail-icon img{
        width: 30px;
        height: 30px;
    }

    .city-detail-data {
        font-size: 25px;
        padding-left: 5px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        height: 400px;
        grid-template-rows: 0.5fr 1.5fr 1.5fr 0.6fr 0.6fr 1fr;
        grid-template-areas:
        "city city city city"
        "icon icon icon icon"
        "icon icon icon icon"
        "temperature temperature temperature temperature"
        "rf-temp rf-temp rf-temp rf-temp"
        "description description description description"
        "city-detail city-detail city-detail city-detail";
    }

    .city { 
        flex-direction: column;
    }

    .icon img { 
        width: 120px !important;
        height: 120px !important;
        margin: 0 !important;
    }

    .temperature { 
        font-size: 60px;
        justify-content: center;
    }

    .rf-temp {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description { 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .city-detail-icon img{
        width: 20px;
        height: 20px;
    }

    .city-detail-data {
        font-size: 18px;
        padding-left: 5px;
    }
}