.navbar {
    background: rgb(60, 100, 130);
    background-blend-mode: darken;
}

.logo-nav {
    width: 30px;
    height: 30px;
}

.a {
    color: white ;
    font-family: 'Quicksand', sans-serif;
    padding: 0px 15px 0px 15px;
}

.a:hover {
    color: black;
}

.active-link {
    font-size: 17px;
    font-weight: bolder;
}

#basic-nav-dropdown {
    color: white !important;
}

.toggler {
    border-color: white !important;
}

@media screen 
and (max-width: 767px) {
    .a {
        padding: 0px;
    }
    .nav-link {
        padding: 15px 0px !important;
    }
}