.navbar {
    background: rgb(60, 100, 130);
    background-blend-mode: darken;
}

.logo-nav {
    width: 30px;
    height: 30px;
}

.a {
    color: white ;
    padding: 0px 15px 0px 15px;
}

.a:hover {
    color: black !important;
}

#basic-nav-dropdown {
    color: white !important;
}

.toggler {
    border-color: white !important;
}