.navbar {
    background: rgb(60, 100, 130, 0.7);
    background-blend-mode: darken;
}

.navbar a {
    color: white;
    padding: 5px 10px 5px 10px !important;
}

.navbar-brand {
    padding: 0px !important;
}

.logo-nav {
    width: 30px;
    height: 30px;
}