body{
    height: 100%;
    background-image: linear-gradient( rgba(113,213,225,1), rgba(73,146,226,1)); 
    background-attachment: fixed;
} 

/* FORM */
.city-input {
    width: 40%;
    height: 40px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
}

.city-input:focus, .city-input:active {
   outline: none;
   box-shadow: none;
}

.search-btn {
    width: 100px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgb(10, 100, 100);
    color: white;
}

.search-btn:focus, .search-btn:active {
   outline: none;
   box-shadow: none;
}

/* MAIN INFO */
.main-info {
    width: 80%;
    height: auto;
    background: rgba(70, 130, 130, 0.5);
    border-radius: 5px;
    margin-top: 100px;
}

.current-weather-icon {
    width: 200px;
    height: 200px;
    margin: 25px 0px 25px 50px;
}
.current-city {
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.current-temp {
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.real-feel-temp {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: lightgrey;
}

.current-weather-descritpion {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.current-weather-info {
    margin: 25px 0px 25px 0px;
}

.current-weather-basic {
    margin-left: 50px;
}

.current-weather-detail {
    margin-left: 50px;
}

.current-weather-basic-div {
    margin-top: 290px;
}

.detail-icon img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
} 

.detail-txt {
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
}

.detail-data {
    vertical-align: middle;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

/* AIR QUALITY */
/* Circle animation */
.circle-div {
    position: relative;
    margin-top: 125px;
}

#counter {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}

#circle1 {
    height: 165px;
    width: 165px;
    background-color:#44809684;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#shadowring {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(133, 131, 131, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}

#circle2 {
    height: 196px;
    width: 196px;
    background-color:#BBD9DB;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

