body{
    background-image: url('backgrounds/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-attachment: fixed;
    margin: 0 auto;
    padding: 0 auto;
} 