.wrapper {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at -3.7% -5%,  rgba(113,213,225,1) 0.3%, rgba(73,146,226,1) 90.5% ); 
}

/* MAIN INFO */
.main-info {
    width: 80%;
    height: auto;
    background: rgba(53, 103, 140, 0.7);
    border-radius: 5px;
    margin-top: 100px;
}

.current-city {
    font-size: 25px;
    color: white;
}

.current-temp {
    font-size: 50px;
    color: white;
}

.real-feel-temp {
    font-size: 15px;
    font-weight: bold;
    color: lightgrey;
}

.current-weather-descritpion {
    font-size: 15px;
    color: white;
}

.current-weather-info {
    margin: 25px 0px 25px 0px;
}

.current-weather-basic {
    margin-left: 25px;
}

.current-weather-detail {
    margin-left: 25px;
}

.detail-icon img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
} 

.detail-txt {
    margin-left: 10px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
}

.detail-data {
    vertical-align: middle;
    color: white;
}


